.env
# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
bank/migrations/*
!bank/migrations/__init__.py
bank/migrations/__pycache__/
bank/models/__pycache__/
bank/admin/__pycache__/
